//custom colors;
$background-clr: #FDF7ED;
$shadow: #816538;
$primary: #342103;
$secondary: #816538;

$text:$background-clr;

// C6B9A8 the first one

// ac9a80 another color

.body{
  // color: $primary;
  font-family: "Roboto", sans-serif;
  background-color: white;
}



header{
  background-color: $shadow;  
  padding: 50px;
  // border-radius: 10px;
  
}


// for the nav menu:






















// done here for the nav menu


.form{
  background-color: $shadow;
  padding: 50px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .container.form, .headerr {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    background-color: $secondary;
  }
}



  /* Custom selection color for text */
  ::selection {
    background-color: $primary; /* Primary color background */
  }

  /* Custom styles for select elements */
  select.form-select option:checked,
  select.form-select option:hover {
    background-color: $primary; /* Primary color background */
  }



// For the footer input button of the news letters
/* Target the input element with its ID */
#newsletter1 {
  color: $background-clr;  
}

#newsletter1:focus {
  color: $background-clr;  
}

#newsletter1::placeholder{
  color: $background-clr;
}





// For frequenet asked questions.

.faqs{
  background-color: $secondary;
  padding: 80px;
  border-radius: 10px;
}


@media (max-width: 768px) {
  .faqs {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    background-color: $secondary;
  }
}










   


//google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


//import bootstrap file
@import '../node_modules/bootstrap/scss/bootstrap.scss';



